NODE_ENV=development
PORT=3000

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=

JWT_SECRET=

META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_OTP_TEMPLATE_NAME=hello_world
META_WHATSAPP_OTP_TEMPLATE_LANG=en_US
